<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static '/core/css/home.css' %}">
</head>

<body>
    <section class="homediv">
        <div class="paralax">
            <img src="{% static '/core/images/stars-1.svg' %}" value="-2" class="layer2">
            <img src="{% static '/core/images/stars-2.svg' %}" value="3" class="layer2">
            <img src="{% static '/core/images/stars-3.svg' %}" value="15" class="layer2">
            <img src="{% static '/core/images/stars-4.svg' %}" value="-5" class="layer2">
            <img src="{% static '/core/images/moon.svg' %}" value="3" class="layer" onload="paralax()">
        </div>
        <div class="social">
            <img class="github imgsocial" src="{% static '/core/images/github.svg' %}">
            <img class="linkedin imgsocial" src="{% static '/core/images/linkedin.svg' %}">
            <img class="instagram imgsocial" src="{% static '/core/images/insta.svg' %}">
            <div class="linev-mid"></div>
            <img class="theme imgsocial" src="{% static '/core/images/darkmode-on.svg' %}">
            <div class="linev-bottom"></div>
        </div>
        <h1 class="title">Hi, I’m Julio</h1>
        <h2 class="sub-title">I design and develop a lot of <br> things for the internet.</h2>
        <p class="meta-art"><b class="one">&lt;</b><b class="two">meta</b> <b class="trr">name</b><b class="two">=</b>"description" <b  class="trr">content</b><b class="two">=</b>"Art says the unspeakable; <br> expresses the inexpressible, translates the untranslatable (Leonardo da Vinci)"<b class="one">/&gt;</b></p>
    </section> 
</body>