@import url("colors.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

body .homediv {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

body .homediv {
    width: 100%;
    height: 100vh;
    position: relative;
}

body .homediv::before {
    width: 100%;
    height: 100vh;
    content: "";
    background-image: url("../images/stars-fixed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    opacity: 40%;
}

body .homediv::after {
    width: 22%;
    height: 46vh;
    content: "";
    background-image: url("../images/splash-top.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: start;
    background-position-y: start;
    position: fixed;
    top: 0vh;
    left: 0vh;
}

body section .homediv .social {
    width: 10vh;
    height: 36vh;
    font-size: 10vh;
    font-family: nexa-bold;
    position: fixed;
    bottom: 0vh;
    left: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

body section .homediv .social .linev-mid {
    width: 0.3vh;
    height: 7vh;
    background-color: var(--purple-std);
}

body section .homediv .social .imgsocial {
    height: 4vh;
    cursor: pointer;
}

body section .homediv .social .linev-bottom {
    width: 0.3vh;
    height: 3vh;
    background-color: var(--purple-std);
}

body section .homediv .title {
    font-size: 8vh;
    font-family: nexa-bold;
    position: fixed;
    bottom: 26.7vh;
    left: 20vh;
    color: var(--white-std);
}

body section .homediv .sub-title {
    font-size: 2.9vh;
    font-family: adam-bold;
    position: fixed;
    bottom: 21vh;
    left: 20vh;
    color: var(--purple-std);
}

body section .homediv .meta-art {
    font-size: 2.5vh;
    font-family: adam-bold;
    position: fixed;
    bottom: 4.1vh;
    left: 20vh;
}

body section .homediv .meta-art .one {
    color: var(--red-std2);
}

body section .homediv .meta-art .two {
    color: var(--yellow-std2);
}

body section .homediv .meta-art .trr {
    color: var(--purple-std);
}







