@import url("colors.css");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html, body {
    height: 100%;
    min-width: 100%;
    min-height: 100%;
}

body .homediv {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
    background-color: var(--black);
}

body .homediv {
    width: 100%;
    height: 100vh;
    position: relative;
}

body .homediv::before {
    width: 100%;
    height: 100vh;
    content: "";
    background-image: url("../images/stars-fixed.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
    opacity: 30%;
}

body section .homediv .social {
    width: 10vh;
    height: 36vh;
    font-size: 10vh;
    font-family: title;
    position: fixed;
    bottom: 0vh;
    left: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

body section .homediv .social .linev-mid {
    width: 0.3vh;
    height: 7vh;
    background-color: var(--purple-std);
}

body section .homediv .social .imgsocial {
    height: 4vh;
    cursor: pointer;
}

body section .homediv .social .linev-bottom {
    width: 0.3vh;
    height: 3vh;
    background-color: var(--purple-std);
}

body section .homediv .title {
    font-size: 7vh;
    font-family: title;
    position: fixed;
    bottom: 28.5vh;
    left: 20vh;
    color: var(--white-std);
}

body section .homediv .sub-title {
    font-size: 2.6vh;
    font-family: text;
    position: fixed;
    bottom: 21vh;
    left: 20vh;
    color: var(--red-std2);
}

body section .homediv .meta-art {
    font-size: 2vh;
    font-family: text;
    position: fixed;
    bottom: 4.5vh;
    left: 20vh;
}

body section .homediv .meta-art .one {
    color: var(--red-std2);
}

body section .homediv .meta-art .two {
    color: var(--yellow-std2);
}

body section .homediv .meta-art .trr {
    color: var(--purple-std);
}

body section .shooting-star {
    border-radius: 50%;
    position: absolute;
    top: 3vh;
    left: 30vh;
    transform-origin: left center;
    animation: 2s shooting-star infinite;
}

@keyframes shooting-star {

    from {
        background-color: white;
        width: 0.1vh;
        height: 0.4vh;
    }

    to {
        background-color: white;
        width: 0.1vh;
        height: 50vh;
        opacity: 0%;
    }
    
  }

body .paralax {
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

body .moon { 
    width: 18vh;
    position: absolute;
    bottom: 70vh;
    left: 62%;
}

body .backgroundstars1 { 
    width: 100%;
    height: 100vh;
    background-image: url("../images/stars-1.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
}

body .backgroundstars2 { 
    width: 100%;
    height: 100vh;
    background-image: url("../images/stars-2.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
}

body .backgroundstars3 { 
    width: 100%;
    height: 100vh;
    background-image: url("../images/stars-3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
}

body .backgroundstars4 { 
    width: 100%;
    height: 100vh;
    background-image: url("../images/stars-4.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
}

body .backgroundstars5 { 
    width: 100%;
    height: 100vh;
    background-image: url("../images/stars-5.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
}

body .backgroundstars6 { 
    width: 100%;
    height: 100vh;
    background-image: url("../images/stars-6.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    position: absolute;
}

body section .rocket {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 30vh;
    left: 50%;
    transform: rotate(2deg);
}

body section .rocket .rocket-body {
    height: 10vh;
    position: absolute;
    top: -14vh;
    left: 0.9vh;
}

body section .rocket .fire-red {
    height: 8vh;
    position: absolute;
    animation: 0.3s size-fire-red infinite;
}

@keyframes size-fire-red {

    from {
        width: 2vh;
    }

    to {
        width: 12vh;
        height: 11vh;
        opacity: 10%;
    }
    
  }

body section .rocket .fire-orange {
    height: 5vh;
    position: absolute;
    top: -4vh;
    right: -3vh;
    animation: 0.2s size-fire-orange infinite;
}

@keyframes size-fire-orange {

    from {
        width: 0.5vh;
    }

    to {
        width: 5vh;
        opacity: 30%;
    }
    
  }